.shimmerEffect {
	animation: shimmer 1.5s infinite;
}

.spinSlow {
	animation: spin-slow 20s linear infinite;
}

.spinSlowReverse {
	animation: spin-slow-reverse 15s linear infinite;
}

@keyframes shimmer {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

@keyframes spin-slow {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes spin-slow-reverse {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0deg);
	}
}
